name: Build FStar Binaries for MacOS

on:
  workflow_dispatch:
  push:
    branches:
    - _taramana_windows

jobs:

  build:

    runs-on: windows-latest

    steps:
    - name: Install Cygwin
      uses: cygwin/cygwin-install-action@master
      with:
        packages: wget
    - name: Set up git clone endlines
      run:  git config --global core.autocrlf input
    - name: Checkout FStar
      uses: actions/checkout@v2
      with:
        path: FStar
    - name: Checkout everest
      uses: actions/checkout@v2
      with:
        repository: project-everest/everest
        path: FStar/.github/everest
    - name: Setup dependencies
      run: bash ./FStar/.github/setup-windows.sh
    - name: Build and package FStar
      run: |
        bash ./FStar/.github/build-windows.sh
